campos.dtd

<!ELEMENT DOCUMENT (ID, AUTHOR, TITLE, PUBLICATION-DATE,FORMAT?, TYPE?, KEYWORDS?,  FIELD*)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT PUBLICATION-DATE (#PCDATA)>
<!ELEMENT FORMAT (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT KEYWORDS (#PCDATA)>
<!ELEMENT FIELD (#PCDATA)>

<!ATTLIST FIELD NAME CDATA #REQUIRED>